<%- include('./partials/header.ejs') %>


<% for(let i=0; i < facts.length; i++) { %>
    <label for="name">Author: <%= facts[i].name %></a> </label> <br>
            
          Fact: <label for="fact"> <%= facts[i].fact %></label>
            <br>
      <br>
      <p>
      <img src="<%= facts[i].img%>" alt="sd">
    </p>
      <a href="/sportpedias/sports/<%=sports.id%>/facts/<%= facts[i].id %>/edit">
        <button>EDIT</button></a>


  <form action="/sportpedias/sports/<%=sports.id%>/facts/<%=facts[i].id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
  </form>
<%} %>
</p>


       




<%- include('./partials/footer.ejs') %>