<%- include('./partials/header.ejs') %>
<h1>it works - facts</h1>



    <label for="name">I'm <%= facts.name %></label>
            


          <label for="fact"> <%= facts.fact %></label>
         
            <br>
     
      <br>
      <img src="<%= facts.img%>" alt="sd">
      <a href="/sportpedias/sports/<%=sport.id%>/edit">
          <button>EDIT</button></a>
          </div>
  <form action="/sportpedias/sports/<%=sport.id%>/<%=facts.id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
  </form>

</p>


       




<%- include('./partials/footer.ejs') %>